body {
  /* background-color: #222222; */
  /* background-color: #DDDDDD; */
  /* background-color: #DDDD00; */
  /* background-color: #DDDD22; */
  /* background-color: #DDDD77; */
  /* background-color: #3d6099; */
  /* background-color: #1664e2; */
  background-color: #6999e5;
}




input[type=button]:enabled {
  font-weight: bold;
  /* color: #0000DD; */
  /* color: #0000EE; */
  /* color: #0044ee; */
  /* color: #0088ee; */
  color: #0700B4;
}



input[type=button]:disabled {
  font-weight: normal;
  color: #AAA8DE;
}


.buttonImportant {
  /* width: 200px; */
  /* width: 300px; */
  /* font-size: 30px; */
  font-size: 20px;
  /* font-size: 15px; */
}



#divAll {
  width: 2000px;
  /* width: 300px; */
  /* width: 100px; */
  height: 1000px;
}


#tableSections {
  /* border: solid 1px black; */
  /* border-style: solid; */
  /* border-style: solid; */
  /* border-width: 1px; */
  /* border-color: black; */

  /* border-spacing: 0px; */
  /* border-spacing: 0; */

  /* border-collapse: separate; */
  border-collapse: collapse;

  /* border-spacing: 10px; */
  border-spacing: 0;
}




/*
#tableSections, #tableSections td, #tableSections th {
  border: 1px solid #000000;
}
*/

#tableSections {
  /* border: 1px solid #000000; */
}


#tableSections td, #tableSections th {
  /* padding: 10px; */
  /* padding: 0px; */
  /* padding: 2px; */

  /* padding: 4px; */
  text-align: left;
}





#tableWord th {
  text-align: left;
  /* text-align: right; */
}


#tableWord td, #tableWord th {
  /* padding: 4px; */
}






#tableSettings td, #tableSettings th {
  /* padding: 4px; */
}



#textForeign {
  /* width: 100%; */
  /* width: 200px; */
  /* width: 370px; */
  width: 500px;
}
#textGrammar {
  /* width: 30px; */
  width: 50px;
}
#textPronunciation {
  width: 100px;
}
#textMeaning {
  /* width: 350px; */
  /* width: 360px; */
  /* width: 370px; */
  width: 500px;
}
#textUserResponse {
  /* width: 350px; */
  /* width: 360px; */
  /* width: 370px; */
  width: 500px;
}




/* Popup Test BEGIN */

/* Popup container. */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
}

/* The actual popup (appears on top). */
.popup .popuptext {
  visibility: hidden;
  width: 500px;
  font-size: 70px;
  background-color: #555;
  color: #fff;
  /* text-align: center; */
  text-align: left;
  border-radius: 6px;
  /* padding: 8px 0; */
  /* padding: 8px 0 0 10px; */
  padding: 8px 10px 8px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow. */
/*
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/

/* Toggle this class when clicking on the popup container (hide and show the popup). */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup). */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}



/* Popup Test END */









.nonsense {
  /* Just to have some code here... */
}





